.venv/
.env
**/.env
*.pyc
**/__pycache__/
backend/.pytest_cache/
backend/.tmp/
backend/.env
backend/database/*.db
backend/storage/chroma/
backend/storage/models/
backend/data/uploads/*
backend/data/processed/*
backend/data/backups/*
!backend/data/uploads/.gitkeep
!backend/data/processed/.gitkeep
!backend/data/backups/.gitkeep